---
import StatusButton from "../components/StatusButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chara azul">
  <main class="md:px-96">
    <div class="flex justify-center">
      <img
        src="./images/birds/Chara Azul.png"
        alt="Chara azul"
        class="max-h-80"
      />
    </div>

    <!-- TITLE -->

    <h1
      class="mt-6 text-2xl tracking-tight font-extrabold text-yellow-900 font-serif text-center"
    >
      Chara azul
    </h1>
    <h2 class="italic font-serif text-gray-600 text-center">
      Cyanocitta cristata
    </h2>
    <div class="px-4 flex justify-between mt-4">
      <!-- TAXONOMY -->

      <div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Orden:</p>
          <p class="">Passeriformes</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Familia:</p>
          <p class="">Corvidae</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Género:</p>
          <p class="">Cyanocitta</p>
        </div>
      </div>

      <!-- CONSERVATION STATUS -->

      <div class="flex flex-col items-center">
        <h3 class="dark:text-gray-400 mr- font-medium">
          Estado de conservación
        </h3>
        <StatusButton title="lc" />
      </div>
    </div>

    <!-- FIRST DESCRIPTION -->

    <p class="px-3 mt-8 text-left">
      La chara azul (Cyanocitta cristata), también denominado arrendajo azul,
      urraca azul o azulejo, es una especie de ave paseriforme de la familia
      Corvidae propia de América del Norte.
    </p>

    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
      class="px-3 text-left mb-4"
    >
      <!-- ACCORDION 1 -->

      <h2 id="accordion-flush-heading-1">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-1"
          aria-expanded="false"
          aria-controls="accordion-flush-body-4"
        >
          <span>Descripción</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-1"
        class="hidden"
        aria-labelledby="accordion-flush-heading-1"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Su plumaje es predominantemente azul de medio cuerpo para arriba, de
            la cabeza a la cola. Tiene una cresta pronunciada. El color cambia a
            negro, celeste y con listas blancas en las rémiges y las caudales.
            Por debajo es blanco, con un collar negro alrededor del cuello y los
            lados de la cabeza, y con la cara blanca.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Como en otras aves azuladas, la coloración del arrendajo azul no
            deriva de pigmentos, sino que es el resultado de la refracción de la
            luz debida a la estructura interna de las plumas; si se aplasta una
            de las plumas la coloración azul desaparece, pues la estructura ha
            sido destruida. Esto se llama coloración estructural.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            El canto se parece al de otros córvidos en que es muy variado, pero
            el sonido más común es la voz de alarma, que es un grito ruidoso,
            casi como el de una gaviota. También emiten un agudo yaie-yaie, cuya
            frecuencia aumenta a medida que el ave se excita.
          </p>
        </div>
      </div>

      <!-- ACCORDION 2 -->

      <h2 id="accordion-flush-heading-2">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-2"
          aria-expanded="false"
          aria-controls="accordion-flush-body-2"
        >
          <span>Distribución y hábitat</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-2"
        class="hidden"
        aria-labelledby="accordion-flush-heading-2"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Ocupa gran parte del este de Norteamérica, desde Terranova hasta
            Florida, llegando por el suroeste de su distribución hasta Texas, y
            a Colorado por el noroeste. Al oeste de las Rocosas es reemplazado
            por el arrendajo de Steller.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Aunque la chara azul por lo general permanece todo el año en su área
            de distribución, algunas poblaciones norteñas migran a la parte sur
            de la distribución en invierno (migran de día).
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Se encuentra sobre todo en bosques mixtos (que incluyen el haya
            americana y varias especies de roble), pero también es visible en
            parques y jardines de algunas ciudades.
          </p>
        </div>
      </div>

      <!-- ACCORDION 3 -->

      <h2 id="accordion-flush-heading-3">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-3"
          aria-expanded="false"
          aria-controls="accordion-flush-body-3"
        >
          <span>Comportamiento</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-3"
        class="hidden"
        aria-labelledby="accordion-flush-heading-3"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Busca su comida tanto en el suelo como en los árboles, y consume
            prácticamente todo tipo de alimentos vegetales y animales, tales
            como bellotas, hayucos, semillas de herbáceas, granos, frutos,
            bayas, cacahuetes, pan, carne, huevos y polluelos de otras aves,
            muchos tipos de invertebrados, basura de los parques y alimento para
            pájaros.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Su comportamiento agresivo en los cebaderos de pájaros, así como su
            mala reputación como destructor de nidos y huevos de otros pájaros
            han hecho que a menudo el arrendajo azul no sea bienvenido en muchos
            comederos por quienes los instalan. Su mala fama ha pasado a la
            literatura, como en la novela de Harper Lee Matar un ruiseñor.
          </p>
        </div>
      </div>

      <!-- IMAGES -->

      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Cyanocitta_cristata_blue_jay.jpg/240px-Cyanocitta_cristata_blue_jay.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Cyanocitta-cristata-004.jpg/220px-Cyanocitta-cristata-004.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Cyanocitta_cristata_2.jpg/220px-Cyanocitta_cristata_2.jpg"
              alt=""
            />
          </div>
          <!-- <div>
						<img
							class="h-auto max-w-full rounded-lg"
							src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiwARUosIzWNxBmca4qsZXriRIdebJ6Hlv5GEPeH3curkHWyyWdl4zrKwDfq7dDR-BiByHxtRLlpM7e476ib1g1jxFv7d2rborwyOGaIHXYUjUVbda8600Oo2PYWwR_uhcYNgSrfj6lFmRq/s400/milano-real-milvus.jpg"
							alt=""
						/>
					</div> -->
        </div>
      </div>
      <a href="/" class="flex justify-center mt-4">
        <button
          type="button"
          class="py-2.5 px-5 me-2 mb-14 mt-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
        >
          ¿Quires ver las demás mesas?
        </button>
      </a>
    </div>
  </main>
</Layout>
