---
import Menu from "../components/Menu.astro";
import StatusButton from "../components/StatusButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Grulla coronada">
  <main class="md:px-96">
    <div class="flex justify-center">
      <img src="./images/Home/urogallo.png" alt="Grulla coronada" />
    </div>

    <!-- TITLE -->

    <h1
      class="mt-6 text-2xl tracking-tight font-extrabold text-yellow-900 font-serif text-center"
    >
      Grulla coronada
    </h1>
    <h2 class="italic font-serif text-gray-600 text-center">
      Balearica regulorum
    </h2>
    <div class="px-4 flex justify-between mt-4">
      <!-- TAXONOMY -->

      <div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Orden:</p>
          <p class="">Gruiformes</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Familia:</p>
          <p class="">Gruidae</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Género:</p>
          <p class="">Balearica</p>
        </div>
      </div>

      <!-- CONSERVATION STATUS -->

      <div class="flex flex-col items-center">
        <h3 class="dark:text-gray-400 mr- font-medium">
          Estado de conservación
        </h3>
        <StatusButton title="en"/>
      </div>
    </div>

    <!-- FIRST DESCRIPTION -->

    <p class="px-3 mt-8 text-left">
      La grulla coronada cuelligrís (Balearica regulorum) es un ave gruiforme de
      la familia Gruidae. Habita comúnmente en la sabana africana al sur del
      Sahara, aunque suele anidar en hábitats más húmedos.
    </p>

    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
      class="px-3 text-left mb-4"
    >
      <!-- ACCORDION 1 -->

      <h2 id="accordion-flush-heading-1">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-1"
          aria-expanded="false"
          aria-controls="accordion-flush-body-4"
        >
          <span>Características</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-1"
        class="hidden"
        aria-labelledby="accordion-flush-heading-1"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Sus grandes manchas alares blancas sobre el plumaje gris son
            visibles durante el vuelo y la exhibición.
          </p>
        </div>
      </div>

      <!-- ACCORDION 2 -->

      <h2 id="accordion-flush-heading-2">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-2"
          aria-expanded="false"
          aria-controls="accordion-flush-body-2"
        >
          <span>Historia natural</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-2"
        class="hidden"
        aria-labelledby="accordion-flush-heading-2"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Habita en pantanos, donde se alimenta de grandes insectos, ranas y
            sapos, cereales y otros vegetales. Vuela pesadamente, con el cuello
            y las patas algo caídos, y descansa en los árboles. Las parejas se
            exhiben con una danza a saltos y su fuerte reclamo a dos notas.
          </p>
        </div>
      </div>

      <!-- ACCORDION 3 -->

      <h2 id="accordion-flush-heading-3">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-3"
          aria-expanded="false"
          aria-controls="accordion-flush-body-3"
        >
          <span>Subespecies</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-3"
        class="hidden"
        aria-labelledby="accordion-flush-heading-3"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Existen dos subespecies. Una que habita en el África Oriental B. r.
            gibbericeps (también llamada grulla crestada), donde se puede
            encontrar desde el este de la República Democrática del Congo hasta
            Uganda, de donde es el ave nacional, y desde Kenia hasta el este de
            Sudáfrica. Posee una gran área de piel facial de color rojo sobre el
            parche blanco que la otra especie más pequeña denominada, B. r.
            regulorum (la que para diferenciarla de la otra se le llama grulla
            crestada sudafricana), que anida desde Angola hasta Sudáfrica.
          </p>
        </div>
      </div>

      <!-- ACCORDION 4 -->

      <h2 id="accordion-flush-heading-4">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-4"
          aria-expanded="false"
          aria-controls="accordion-flush-body-4"
        >
          <span>Curiosidades</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-4"
        class="hidden"
        aria-labelledby="accordion-flush-heading-4"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Aparece en el escudo y la bandera nacional de Uganda.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">El canto de
            esta ave fue usado para crear el sonido y vocalizaciones de los
            raptores en la película Jurassic Park
          </p>
        </div>
      </div>
    </div>

    <!-- IMAGES -->

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
        <div class="grid gap-4">
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Grey_crowned_crane2.jpg"
                alt=""
              />
            </div>
            <div>
                <img
                class="h-auto max-w-full rounded-lg"
                src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Grey_Crowned_Crane2.jpg"
                alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                class="h-auto max-w-full rounded-lg"
                src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Grey_Crowned_Crane_2.jpg"
                alt=""
                />
            </div>
            <div>
              <img
                class="h-auto max-w-full rounded-lg"
                src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Grey-crowned_Crane%2C_Serengeti.jpg"
                alt=""
              />
            </div>
        </div>
    </div>
    <a href="/" class="flex justify-center mt-4">
      <button
        type="button"
        class="py-2.5 px-5 me-2 mb-14 mt-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
      >
        ¿Quires ver las demás mesas?
      </button>
    </a>
  </main>
</Layout>
