---
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Begoña & Ignacio">
	<main>
		<Header/>
		<div class="px-2 md:px-96">
			<div class="mb-4 justify-center">
				<Card title="Urogallo de las artemisas" image="Urogallo/urogallo.png" href="/urogallo" table="presidencial"/>
			</div>
			<div class="grid grid-cols-2 gap-4 content-center">
	
				<Card title="Lavandera blanca" image="Motacilla/motacilla.png" href="/lavandera-blanca" table="1"/>
				<Card title="Martín pesacador" image="Motacilla/motacilla.png" href="/martin-pescador" table="2"/>
				<Card title="Secretario" image="Motacilla/motacilla.png" href="/secretario" table="3"/>
				<Card title="Quetzal guatemalteco" image="Motacilla/motacilla.png" href="/quetzal-guatemalteco" table="4"/>
				<Card title="Perdiz nival" image="Motacilla/motacilla.png" href="/perdiz-nival" table="5"/>
				<Card title="Petirrojo" image="Motacilla/motacilla.png" href="petirrojo" table="6"/>
				<Card title="Grulla coronada" image="Motacilla/motacilla.png" href="grulla-coronada" table="7"/>
				<Card title="Faisán dorado" image="Motacilla/motacilla.png" href="faisan-dorado" table="8"/>
				<Card title="Golondrina" image="Motacilla/motacilla.png" href="/golondrina" table="9"/>
				<Card title="Colibrí" image="Motacilla/motacilla.png" href="/colibri" table="10"/>
				<Card title="Perdiz" image="Motacilla/motacilla.png" href="#" table="11"/>
				<Card title="Pito real" image="Motacilla/motacilla.png" href="/pito-real" table="12"/>
				<Card title="Cuervo" image="Motacilla/motacilla.png" href="#" table="13"/>
				<Card title="Milano real" image="Motacilla/motacilla.png" href="#" table="14"/>
				<Card title="Autillo europeo" image="Motacilla/motacilla.png" href="#" table="15"/>
				<Card title="Estornino" image="Motacilla/motacilla.png" href="#" table="16"/>
				<Card title="Frailecillo" image="Motacilla/motacilla.png" href="#" table="17"/>
				<Card title="Focha común" image="Motacilla/motacilla.png" href="#" table="18"/>
				<Card title="Casuario" image="Motacilla/motacilla.png" href="#" table="19"/>
				<Card title="Pato mandarín" image="Motacilla/motacilla.png" href="#" table="20"/>
				<Card title="Cigüeña" image="Motacilla/motacilla.png" href="#" table="21"/>
				<Card title="Chara azul" image="Motacilla/motacilla.png" href="#" table="22"/>
				<Card title="Arrendajo" image="Motacilla/motacilla.png" href="#" table="23"/>
				<Card title="Cardenal norteño" image="Motacilla/motacilla.png" href="#" table="24"/>
				<Card title="Ave fusil magnífica" image="Motacilla/motacilla.png" href="#" table="25"/>
				<Card title="Jilguero" image="Motacilla/motacilla.png" href="#" table="26"/>
				<Card title="Cormorán moñudo" image="Motacilla/motacilla.png" href="#" table="27"/>
				<Card title="Mosquero real" image="Motacilla/motacilla.png" href="#" table="28"/>
				<Card title="Mielero verde" image="Motacilla/motacilla.png" href="#" table="29"/>
				<Card title="Picohoz coliverde" image="Motacilla/motacilla.png" href="#" table="30"/>
				<Card title="Kiwi" image="Motacilla/motacilla.png" href="#" table="31"/>
			</div>
		</div>
	</main>
</Layout>
