---
import StatusButton from "../components/StatusButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pito Real">
	<main class="md:px-96">
		<div class="flex justify-center">
			<img
				src="./images/birds/Pito Real.png"
				alt="Pito Real"
				class="max-h-80"
			/>
		</div>

		<!-- TITLE -->

		<h1
			class="mt-6 text-2xl tracking-tight font-extrabold text-yellow-900 font-serif text-center"
		>
			Pito Real
		</h1>
		<h2 class="italic font-serif text-gray-600 text-center">Picus viridis</h2>
		<div class="px-4 flex justify-between mt-4">
			<!-- TAXONOMY -->

			<div>
				<div class="flex">
					<p class="dark:text-gray-400 mr-2 font-medium">Orden:</p>
					<p class="">Piciformes</p>
				</div>
				<div class="flex">
					<p class="dark:text-gray-400 mr-2 font-medium">Familia:</p>
					<p class="">Picidae</p>
				</div>
				<div class="flex">
					<p class="dark:text-gray-400 mr-2 font-medium">Género:</p>
					<p class="">Picus</p>
				</div>
			</div>

			<!-- CONSERVATION STATUS -->

			<div class="flex flex-col items-center">
				<h3 class="dark:text-gray-400 mr- font-medium">
					Estado de conservación
				</h3>
				<StatusButton title="lc" />
			</div>
		</div>

		<!-- FIRST DESCRIPTION -->

		<p class="px-3 mt-8 text-left">
			El carpintero verde o pito real (Picus viridis) es una especie de ave
			piciforme de la familia Picidae. Se distribuye por la mayor parte de
			Europa y el oeste de Asia. Habita en todo tipo de masas forestales,
			incluso zonas de matorral, y también en parques y jardines en zonas
			urbanas. Su población se estima entre 920 000 y 2 900 000 ejemplares.
		</p>
		<p class="px-3 mt-8 text-left">
			El más común y extendido de los pájaros carpinteros, el pito real, es un
			ave inconfundible de la que, en muchas ocasiones, se tiene referencia por
			su característico canto: una especie de sonoro relincho que delata su
			presencia en las arboledas ribereñas, los bosques caducifolios y las áreas
			ajardinadas donde se instala. Activo consumidor de invertebrados, este
			pícido dispone de una larga y pegajosa lengua con la que prospecta los
			resquicios de los hormigueros en busca de los huevos, larvas y adultos que
			constituyen la base de su dieta.
		</p>

		<div
			id="accordion-flush"
			data-accordion="collapse"
			data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white"
			data-inactive-classes="text-gray-500 dark:text-gray-400"
			class="px-3 text-left mb-4"
		>
			<!-- ACCORDION 1 -->

			<h2 id="accordion-flush-heading-1">
				<button
					type="button"
					class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
					data-accordion-target="#accordion-flush-body-1"
					aria-expanded="false"
					aria-controls="accordion-flush-body-4"
				>
					<span>Descripción</span>
					<svg
						data-accordion-icon
						class="w-3 h-3 rotate-180 shrink-0"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 10 6"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M9 5 5 1 1 5"></path>
					</svg>
				</button>
			</h2>
			<div
				id="accordion-flush-body-1"
				class="hidden"
				aria-labelledby="accordion-flush-heading-1"
			>
				<div class="py-5 border-b border-gray-200 dark:border-gray-700">
					<p class="mb-2 text-gray-500 dark:text-gray-400">
						Es un pájaro carpintero grande, mide de 30 a 36 cm, y tiene una
						envergadura alar de entre 45 y 51 cm. Por encima su plumaje es de
						color verdoso, con el obispillo más amarillo; por debajo es
						blanquecino. El píleo (parte de arriba de la cabeza) y la nuca son
						de color rojo, el ojo es blanco y está rodeado de una zona negra; y
						su bigotera es negra. Ambos sexos son muy similares, el macho tiene
						el centro rojo de la mancha negra de la bigotera, mientras que la
						hembra carece de ese rojo. Los juveniles son parecidos a los adultos
						en el patrón de colores de su plumaje, pero este está cubierto por
						un profuso moteado.
					</p>
					<p class="mb-2 text-gray-500 dark:text-gray-400">
						Las poblaciones de la subespecie ibérica (P. v. sharpei) no tienen
						negro alrededor del ojo, sino gris oscuro, y el negro en la bigotera
						del macho es más escaso.
					</p>
					<p class="mb-2 text-gray-500 dark:text-gray-400">
						Su reclamo es muy característico, es una especie de carcajada larga
						y resonante "kaiü-kaiü-kaiück". Su canto va acelerando y es
						descendente en tono.
					</p>
				</div>
			</div>

			<!-- ACCORDION 2 -->

			<h2 id="accordion-flush-heading-2">
				<button
					type="button"
					class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
					data-accordion-target="#accordion-flush-body-2"
					aria-expanded="false"
					aria-controls="accordion-flush-body-2"
				>
					<span>Taxonomía</span>
					<svg
						data-accordion-icon
						class="w-3 h-3 rotate-180 shrink-0"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 10 6"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M9 5 5 1 1 5"></path>
					</svg>
				</button>
			</h2>
			<div
				id="accordion-flush-body-2"
				class="hidden"
				aria-labelledby="accordion-flush-heading-2"
			>
				<div class="py-5 border-b border-gray-200 dark:border-gray-700">
					<p class="mb-2 text-gray-500 dark:text-gray-400">
						En la lista de aves del mundo del Congreso Ornitológico
						Internacional (IOC World Bird List) se describe, desde su versión
						3.5 del 30 de septiembre de 2013, a la subespecie presente en la
						península ibérica como una especie diferente con el nombre
						científico de Picus sharpei si bien, esta escisión no está incluida
						en la lista de aves de España de la Sociedad Española de Ornitología
						en su versión del año 2012.
					</p>
				</div>
			</div>

			<!-- IMAGES -->

			<div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
				<div class="grid gap-4">
					<div>
						<img
							class="h-auto max-w-full rounded-lg"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Gr%C3%BCnspecht_Picus_viridis.jpg/180px-Gr%C3%BCnspecht_Picus_viridis.jpg"
							alt=""
						/>
					</div>
					<div>
						<img
							class="h-auto max-w-full rounded-lg"
							src="https://www.birdiememory.com/static/images/birds/pic-vert/picture0@2x.jpg"
							alt=""
						/>
					</div>
				</div>
				<div class="grid gap-4">
					<div>
						<img
							class="h-auto max-w-full rounded-lg"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Picus_viridis_1.jpg/180px-Picus_viridis_1.jpg"
							alt=""
						/>
					</div>
					<div>
						<img
							class="h-auto max-w-full rounded-lg"
							src="https://upload.wikimedia.org/wikipedia/commons/2/20/Picus_viridis_sharpei_033.jpg"
							alt=""
						/>
					</div>
				</div>
			</div>
			<a href="/" class="flex justify-center mt-4">
				<button
					type="button"
					class="py-2.5 px-5 me-2 mb-14 mt-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
				>
					¿Quires ver las demás mesas?
				</button>
			</a>
		</div>
	</main>
</Layout>
