---
import Menu from "../components/Menu.astro";
import StatusButton from "../components/StatusButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lavandera blanca">
  <main class="md:px-96">
    <div class="flex justify-center">
      <img src="./images/Home/urogallo.png" alt="Lavandera blanca" />
    </div>
    <h1
      class="mt-6 text-2xl tracking-tight font-extrabold text-yellow-900 font-serif text-center"
    >
      Quetzal guatemalteco
    </h1>
    <h2 class="italic font-serif text-gray-600 text-center">Pharomachrus mocinno</h2>
    <div class="px-4 flex justify-between mt-4">
      <div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Orden:</p>
          <p class="">Trogoniformes</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Familia:</p>
          <p class="">Trogonidae</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Género:</p>
          <p class="">Pharomachrus</p>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="dark:text-gray-400 mr- font-medium">
          Estado de conservación
        </h3>
        <StatusButton title="nt"/>
      </div>
    </div>
    <p class="px-3 mt-8 text-left">
      El quetzal guatemalteco (Pharomachrus mocinno) es una pequeña ave que se puede encontrar en el sur de México y Centroamérica que vive en bosques tropicales, particularmente en bosque nubosos montanos. Son parte de la familia de los trogones (Trogonidae) y tienen dos subespecies reconocidas, P. m. mocinno y P. m. costaricensis. Como los demás quetzales, el guatemalteco es principalmente omnívoro; su dieta consiste primeramente en frutos de plantas de la familia Lauraceae, pero ocasionalmente también se alimente en insectos, lagartos, ranas y caracoles.
    </p>
    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
      class="px-3 text-left mb-4"
    >
      <h2 id="accordion-flush-heading-1">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-1"
          aria-expanded="false"
          aria-controls="accordion-flush-body-1"
        >
          <span>Distribución y hábitat</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-1"
        class="hidden"
        aria-labelledby="accordion-flush-heading-1"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Se distribuye desde el oriente del Istmo de Tehuantepec en el sur de México hasta el oeste de Panamá, incluidos la zona centro de Guatemala, en todo Honduras, Oriente de El Salvador, norte de Nicaragua y centro de Costa Rica. En su área de distribución vive únicamente en bosques nubosos montanos entre 1000 y 3000 m s. n. m.
          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-2">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-2"
          aria-expanded="false"
          aria-controls="accordion-flush-body-2"
        >
          <span>Taxonomía</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-2"
        class="hidden"
        aria-labelledby="accordion-flush-heading-2"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            El quetzal guatemalteco fue descrito por primera vez por el naturalista mexicano Pablo de la Llave en 1832. Es una de las cinco especies del género Pharomachrus, comúnmente conocidos por quetzales. El término quetzal originalmente se aplicaba solo a la especie P. mocinno, pero en la actualidad se usa para nombrar a todos los integrantes de los géneros Pharomachrus y Euptilotis. Algunos estudiosos etiquetan al quetzal crestado como un pariente muy cercano del guatemalteco y sugieren el quetzal crestado es una subespecie del guatemaletco o que ambos forman una superespecie. Se cree que el clado del quetzal se extendió desde donde surgió en los Andes, siendo el guatemalteco la especie más joven. El nombre del género, Pharomachrus, hace referencia al características fisísicas del ave, con pharos signficando en griego antiguo, "manto" y makros, "largo" . La palabra "quetzal" procede del Náhuatl (Azteca), donde quetzalli (de la raíz quetza, que significa "estar de pie") significa "penacho alto y erguido" y luego quetzaltot significa "ave de pluma de quetzal" y por tanto, "quetzal".
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Se distinguen dos subespecies reconocidas, Pharomachrus mocinno mocinno y Pharomachrus mocinno costaricensis, aunque hay un debate en la comunidade científica se costaricensis debería ser una especie distinta. La palabra mocinno hace referencia a José Mariano Mociño Suárez Lozano, naturalista de la Nueva España, mentor de Pablo de la Llave.
          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-3">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-3"
          aria-expanded="false"
          aria-controls="accordion-flush-body-3"
        >
          <span>Descripción del ave</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-3"
        class="hidden"
        aria-labelledby="accordion-flush-heading-3"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Es un ave de mediano tamaño de 36-40 cm de largo. El macho tiene además una cola serpentina de hasta 65 cm de largo. Tiene un peso de aproximadamente 210 g. Es el mayor representante del orden de los trogoniformes. La subespecie P. m. costaricensis es ligeramente menor que la especie nominal y tiene plumas de cola algo más finas y cortas.          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            El plumaje del cuerpo es de color verde iridiscente, con reflejos que varían de oro hasta azul-violeta, con el pecho y vientre de color rojo carmesí intenso. Las plumas coberteras superiores de la cola son verdes y muy largas, escondiendo la cola, y en los machos en la temporada de cría son más largas que el resto del cuerpo. Las coberteras primarias de las alas también son inusualmente largas y dan una apariencia de flecos. El macho tiene una cresta erizada en la cabeza, que consiste de plumas erectas y comprimidas unas con otras. El pico, que está parcialmente cubierto de plumas filamentosas verdes, es de color amarillo en los machos adultos y negro en las hembras. Sus patas tienen un aspecto oscuro y son muy cortas; tienen los primeros dos dedos hacia atrás y los otros dos hacia delante lo que hace las clasifica como verdaderos perchadores.

          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Los colores de la hembra son más modestos que el macho y sus plumas están manchadas de color oscuro, con el pecho rojo. También tiene una cola mucho más corta que la del macho. La cabeza es de color café pardo, y el pico es negro en vez de amarillo. Suele llamársele Quetzalí.

          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Un estudio con microscopio electrónico de barrido mostró que en las plumas, las bárbulas verdes tienen forma de gruesas cintas segmentadas que se vuelven ligeramente sobre el eje longitudinal y terminan en un filamento bífido o de tres puntas. Las bárbulas pigmentadas son más simples y pueden tener aletas laterales. En la interfase café-verde, las bárbulas cambian gradualmente de un tipo a otro. Aunque el mecanismo de coloración es interno, tiene una influencia significativa en la forma general de la pluma, la cual está limitada por la selección hacia mayor resistencia y termorregulación.


          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Los pichones tienen uñas vestigiales en la articulación del ala, como el Archaeopteryx, que pierden cuando maduran.


          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-4">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-4"
          aria-expanded="false"
          aria-controls="accordion-flush-body-4"
        >
          <span>Conservación</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-4"
        class="hidden"
        aria-labelledby="accordion-flush-heading-4"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Es una especie que se considera casi amenazada de acuerdo a la UICN. Ha también sido incluido en CITES Apéndice I. En territorio mexicano, según la Norma Oficial Mexicana (NOM-059-SEMARNAT-2010), el quetzal se encuentra en peligro de extinción (P). En Baja Verapaz, Guatemala, se encuentra la reserva del Biotopo del Quetzal, para su reproducción y conservación, que además es un lugar turístico.
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4">
      <div class="grid gap-4">
        <div>
            <img
            class="h-auto max-w-full rounded-lg"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Quetzal01.jpg/320px-Quetzal01.jpg"
            alt=""
            />
        </div>
        <div>
            <img
            class="h-auto max-w-full rounded-lg"
            src="https://mymodernmet.com/wp/wp-content/uploads/2020/05/Quetzal-2.jpg"
            alt=""
            />
        </div>
      </div>
      <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://i.pinimg.com/736x/bf/32/e5/bf32e5f708076699e9b284ac2488435e.jpg"
              alt=""
            />
          </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://aprende.guatemala.com/wp-content/uploads/2017/02/dia-del-quetzal.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <a href="/" class="flex justify-center mt-4">
      <button
        type="button"
        class="py-2.5 px-5 me-2 mb-14 mt-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
      >
        ¿Quires ver las demás mesas?
      </button>
    </a>
  </main>
</Layout>
