---
import Menu from "../components/Menu.astro";
import StatusButton from "../components/StatusButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lavandera blanca">
  <main class="md:px-96">
    <div class="flex justify-center">
      <img src="./images/birds/Secretario.png" alt="Lavandera blanca" class="max-h-80 rotate-90"/>
    </div>
    <h1
      class="mt-6 text-2xl tracking-tight font-extrabold text-yellow-900 font-serif text-center"
    >
      Secretario
    </h1>
    <h2 class="italic font-serif text-gray-600 text-center">Sagittarius serpentarius</h2>
    <div class="px-4 flex justify-between mt-4">
      <div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Orden:</p>
          <p class="">Accipitriformes</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Familia:</p>
          <p class="">Sagittariidae</p>
        </div>
        <div class="flex">
          <p class="dark:text-gray-400 mr-2 font-medium">Género:</p>
          <p class="">Sagittarius</p>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="dark:text-gray-400 mr- font-medium">
          Estado de conservación
        </h3>
        <StatusButton title="en"/>
      </div>
    </div>
    <p class="px-3 mt-8 text-left">
        El secretario (Sagittarius serpentarius) es una especie de ave accipitriforme de la familia Sagittariidae, la única de su familia (Sagittariidae) y de su género (Sagittarius). No se reconocen subespecies. El nombre le viene por su peculiar librea, gris y con las patas negras, y con un copete de plumas como llevaban los secretarios británicos de hace siglos. También se piensa que es una mala traducción francesa de su nombre árabe saqr-et-tair (ave cazadora).
    </p>
    <div
      id="accordion-flush"
      data-accordion="collapse"
      data-active-classes="dark:bg-gray-900 text-gray-900 dark:text-white"
      data-inactive-classes="text-gray-500 dark:text-gray-400"
      class="px-3 text-left mb-4"
    >
      <h2 id="accordion-flush-heading-1">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-1"
          aria-expanded="false"
          aria-controls="accordion-flush-body-1"
        >
          <span>Distribución y hábitat</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-1"
        class="hidden"
        aria-labelledby="accordion-flush-heading-1"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Está ampliamente extendido en África al sur del Sahara. Habita las sabanas africanas desde Somalia hasta Senegal y de Kenia a Sudáfrica.
          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-2">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-2"
          aria-expanded="false"
          aria-controls="accordion-flush-body-2"
        >
          <span>Historia natural</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-2"
        class="hidden"
        aria-labelledby="accordion-flush-heading-2"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Es una de las rapaces más características de toda la fauna africana. Es de gran tamaño, aproximadamente un metro de alzada y de hábitos semiterrestres. Se distingue del resto de rapaces por cazar en el suelo y no desde el aire. Recorre a zancadas los herbazales al acecho de presas que van desde saltamontes a culebras y mamíferos de pequeño tamaño, a los que ataca golpeándolos con sus largas patas, provistas de cortos dedos y fuertes garras afiladas.
          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-3">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-3"
          aria-expanded="false"
          aria-controls="accordion-flush-body-3"
        >
          <span>Comportamiento y ecología</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-3"
        class="hidden"
        aria-labelledby="accordion-flush-heading-3"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Los pájaros secretarios no suelen ser gregarios aparte de las parejas y sus crías. Suelen posarse en árboles del género Acacia o Balanites, o incluso en pinos introducidos en Sudáfrica. Salen entre 1 y 2 horas después del amanecer, generalmente después de pasar algún tiempo acicalándose. Las parejas apareadas se posan juntas pero pueden buscar alimento por separado, aunque a menudo permanecen a la vista la una de la otra. Caminan a una velocidad de 2,5-3 km/h (1,6-1,9 mph), dando una media de 120 pasos por minuto. Después de pasar gran parte del día en el suelo, los secretarios regresan al anochecer, moviéndose a sotavento antes de volar a barlovento. Las aves que se encuentran solas son a menudo machos no unidos, cuyos territorios están generalmente en áreas menos adecuadas. Por el contrario, grupos más grandes de hasta 50 individuos pueden estar presentes en una zona con un recurso localizado, como una charca en una zona seca o una irrupción de roedores o langostas que huyen de un incendio.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Los secretarios vuelan con las plumas primarias desplegadas para controlar las turbulencias. Sus alas pueden batirse, aunque de manera lenta y laboriosa y requiriendo un levantamiento para sostenerse; de lo contrario pueden quedar exhaustos. En el calor del día, utilizan las térmicas para elevarse hasta 3800 metros (4155,7 yd) por encima del suelo.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Se cree que la esperanza de vida es de 10 a 15 años en la naturaleza, con el ejemplar más anciano, confirmado por anillado, de 5 años un polluelo anillado el 23 de julio de 2011 en Bloemfontein y recuperado 440 kilómetros (273,4 mi) en Mpumalanga el 7 de junio de 2016, y hasta 19 años en cautividad. Los secretarios, como todas las aves, tienen parásitos hematozoos en la sangre que incluyen el Leucocytozoon beaurepairei que Dias 1954 registró en Mozambique. Se ha descubierto que las aves silvestres de Tanzania tienen Hepatozoon ellisgreineri, un género que es único entre los hematozoos aviares al madurar dentro de los granulocitos, principalmente heterófilos. Entre los ectoparásitos se encuentran los piojos Neocolpocephalum cucullare (Giebel) y Falcolipeurus secretarius (Giebel).
          </p>
        </div>
      </div>

      <h2 id="accordion-flush-heading-4">
        <button
          type="button"
          class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
          data-accordion-target="#accordion-flush-body-4"
          aria-expanded="false"
          aria-controls="accordion-flush-body-4"
        >
          <span>Alimentación</span>
          <svg
            data-accordion-icon
            class="w-3 h-3 rotate-180 shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"></path>
          </svg>
        </button>
      </h2>
      <div
        id="accordion-flush-body-4"
        class="hidden"
        aria-labelledby="accordion-flush-heading-4"
      >
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            A diferencia de la mayoría de aves de presa, el pájaro secretario es en gran medida un animal terrestre, que caza sus presas a pie. Los adultos cazan en parejas y a veces en bandos familiares sueltos, acechando a través del hábitat con largas zancadas. Las presas pueden ser insectos como langostas y escarabajos, mamíferos que van desde el ratón hasta la liebres y la mangosta, cangrejos, lagartos, serpientes, tortugas, pequeños pájaros, huevos de pájaros y, a veces, animales muertos en incendios de pastos o matorrales. Los herbívoros más grandes no suelen ser cazados, aunque hay algunos informes de aves secretas que matan a jóvenes gacelas y cachorros de guepardo. La importancia de las serpientes en la dieta ha sido exagerada en el pasado, aunque pueden ser localmente importantes y las especies venenosas como adders y cobras se encuentran regularmente entre los tipos de serpientes depredadas. Las aves secretas no comen carroña.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Las aves suelen expulsar a sus presas de la hierba alta pisoteando la vegetación circundante. Sus plumas de la cresta pueden levantarse durante la caza, lo que puede servir para ayudar a asustar al objetivo y proporcionar sombra para la cara. El ave persigue a la presa con las alas extendidas y mata golpeando con rápidos golpes de las patas. Sólo con presas pequeñas, como las avispas, el ave utilizará su pico para cogerlas directamente. Hay algunos informes que indican que, al capturar serpientes, el ave secretaria levanta el vuelo con su presa y luego la deja caer hacia su muerte, aunque esto no se ha verificado. Incluso con presas más grandes, la comida suele tragarse entera a través de la considerable abertura de las aves. Ocasionalmente, al igual que otras rapaces, sujetan un alimento con las patas mientras lo desgarran con el pico.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            La comida que no puede ser digerida es regurgitada en forma de bolitas 40-45 milímetros (1,6-1,8 plg) de diámetro y 30-100 milímetros (1,2-3,9 plg) de longitud. Estos se dejan caer en el suelo, normalmente cerca del dormidero o de los árboles donde anidan. El ave secretaria tiene un tracto digestivo relativamente corto en comparación con las grandes aves africanas con dietas más mixtas, como la avutarda kori. El intestino anterior está especializado en el consumo de grandes cantidades de carne y hay poca necesidad de descomponer mecánicamente los alimentos. El buche está dilatado y la molleja no es muscular, como en otras aves carnívoras. El intestino grueso tiene un par de cecas vestigiales, ya que no es necesario para la digestión fermentativa del material vegetal.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Están especializadas en pisotear a sus presas hasta matarlas o inmovilizarlas. Este método de caza se aplica comúnmente a lagartos o serpientes. Se comprobó que un macho adulto entrenado para golpear a una serpiente de goma en una placa de fuerza golpeaba con una fuerza equivalente a cinco veces su propio peso corporal, con un periodo de contacto de sólo 10-15 milisegundos. Este breve tiempo de contacto sugiere que el ave secreta se basa en una orientación visual superior para determinar la ubicación precisa de la cabeza de la presa. Aunque se sabe poco sobre su campo visual, se supone que es amplio, frontal y binocular. Las aves secretas tienen unas patas inusualmente largas (casi el doble que las de otras aves terrestres de la misma masa corporal), lo que se cree que es una adaptación para el método de caza único de pisar y golpear. Sin embargo, parece que estas largas extremidades también reducen su eficacia al correr. El ecofisiólogo Steve Portugal y sus colegas han planteado la hipótesis de que los extintos Phorusrhacidae (pájaros del terror) pueden haber empleado una técnica de caza similar a la de los secretores porque son anatómicamente parecidos, aunque no están estrechamente emparentados.
          </p>
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Rara vez se encuentran con otros depredadores, excepto en el caso de las águilas rapaces, que roban sus presas. Las águilas roban principalmente las presas más grandes y atacan a los pájaros secretores tanto en solitario como en pareja. Las parejas de pájaros secretores a veces consiguen ahuyentar a las águilas e incluso pueden derribarlas e inmovilizarlas en el suelo.6
          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4">
        <div>
            <img
            class="h-auto max-w-full rounded-lg"
            src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgaerEqfyRLfrn7VOjRu1OHVgoWSkJYRdnvApr2VPavdjkAlLAbe87aKUkLi0lMvYrrcky_2RvsR4Qenknlm7SgblxInsrHaNd1VsZi2_oqun0Hph3vSE6Gx1amxb0N_V3XZmxaS4Rz2U0/s1600/ave-secretario-aplastando-serpiente.jpg"
            alt=""
            />
        </div>
        <div>
            <img
            class="h-auto max-w-full rounded-lg"
            src="https://i.pinimg.com/736x/b6/0b/11/b60b110fc755d58ebd1eaf933a90f3cc.jpg"
            alt=""
            />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Sagittarius_serpentarius_Sekret%C3%A4r.JPG/250px-Sagittarius_serpentarius_Sekret%C3%A4r.JPG"
            alt=""
          />
        </div>
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxrS4vraZ3wTPEaO5BhGZNgsy-U87jkKYbHeai5ZQUnIaUpSt7sL0NPDydpF4FcFkrdetvX4DMFjUl6rL7GUxAZp_S3OvInYj6Jap4dOSo0wdWyE0Wmv9_IifekQkqJF4QJQzdlAi3q1M/s1600/secretario.jpg"
          alt=""
        />
      </div>
    </div>
    <a href="/" class="flex justify-center mt-4">
      <button
        type="button"
        class="py-2.5 px-5 me-2 mb-14 mt-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
      >
        ¿Quires ver las demás mesas?
      </button>
    </a>
  </main>
</Layout>
