---
console.log("javascript");
---

<header class="mx-auto max-w-l">
  <div class="flex justify-between items-center py-2 md:py-8">
		<div class="h-px w-4/12 bg-yellow-900"></div>
    <img
      src="/images/Home/urogallo.png"
      alt="Urogallo de als artemisas"
      class="w-32 md:w-52"
    />
		<div class="h-px w-4/12 bg-yellow-900"></div>
  </div>
  <div class="mx-auto text-center mb-8 lg:mb-16 px-6 md:px-96">
    <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-yellow-900 font-serif">Begoña & Ignacio</h1>
    <p class="font-light text-yellow-900 sm:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id voluptatum sapiente repellat vero pariatur optio voluptas, iure, fuga doloremque quisquam numquam consequatur dolorem eveniet aperiam accusamus est. Iusto, aliquid?
    </p>
  </div>
</header>
